@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-6;

  @include respond-to('md') {
    grid-template-columns: repeat(2, 1fr);
    gap: $space-8;
  }

  @include respond-to('lg') {
    grid-template-columns: repeat(3, 1fr);
  }
}
