@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: $space-2;
  flex-wrap: wrap;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.25rem;
  height: 2.25rem;
  padding: 0 $space-2;
  font-size: 1rem;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-neutral;
  border-radius: $radius-md;
  text-decoration: none;
  transition: color $transition-duration $transition-timing,
    background-color $transition-duration $transition-timing,
    border-color $transition-duration $transition-timing;

  &:hover,
  &:focus-visible {
    color: $color-contrast;
    background-color: $color-neutral;
    border-color: $color-secondary;
  }
}
